NEXT_PUBLIC_SUPABASE_URL=--------------------------
NEXT_PUBLIC_SUPABASE_ANON_KEY=---------------------
NEXT_PUBLIC_APP_URL=-------------------------------
SUPABASE_SERVICE_ROLE_KEY=-------------------------
WHATSAPP_ACCESS_TOKEN=-----------------------------
TEST_PHONE_NO=-------------------------------------
PHONE_NUMBER_ID=-----------------------------------
WHATSAPP_BUSINESS_ACCOUNT_ID=----------------------
